/target
/classes
/checkouts
*.jar
*.class
/.calva/output-window/
/.cpcache
/.lein-*
/.lsp/sqlite*.db
/.nrepl-history
/.nrepl-port
/.rebel_readline_history
/.socket-repl-port
/.clj-kondo
/.lsp
.vscode
.hgignore
.hg/
/resources/config_local.edn
nohup.out
src/pdmct/util/#config.clj#
